"properties" : {
"dfs.ha.namenodes.{{cluster_a.name}}" : "{% if cluster_a.nn1 is defined %}{{cluster_a.name}}_nn1{% endif %}{% if cluster_a.nn1 is defined and cluster_a.nn2 is defined %},{% endif %}{% if cluster_a.nn2 is defined %}{{cluster_a.name}}_nn2{% endif %}",
{% if cluster_a.nn1 is defined %}
"dfs.namenode.rpc-address.{{cluster_a.name}}.{{cluster_a.name}}_nn1" : "{{cluster_a.nn1}}:8020",
{% endif %}
{% if cluster_a.nn2 is defined %}
"dfs.namenode.rpc-address.{{cluster_a.name}}.{{cluster_a.name}}_nn2" : "{{cluster_a.nn2}}:8020",
{% endif %}
"dfs.client.failover.proxy.provider.{{cluster_a.name}}" : "org.apache.hadoop.hdfs.server.namenode.ha.ConfiguredFailoverProxyProvider"
}
